body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  
}

#particles-js{
  height: 100%;
  background: Gray;
  width: 100%; 
  display: block;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/tree2.jpg);
  background-position: center;
  background-size: cover;
    
  
}

h2{
  color: white;
  position: absolute;
  bottom: 100px;
}
h5{
  color: white;
  position: absolute;
  bottom: 50px;
}
h6{
  color: white;
  position: absolute;
  bottom: 30px;
}
h3{
  color: white;
  position: absolute;
  right: 10px;
  top: 5px;
}
h4{
  color: white;
  position: absolute;
  right: 10px;
  top: 50px;
}

.line1{
  position: relative;
  margin-left: 31%;
  width: 500px;
  height: 100px;
  border: 1px solid #000;
  border-color: white transparent transparent transparent;
  border-radius: 50px / 88px 88px 0 0;
  }
  .line2{
  margin-left:-120px;
  width: 500px;
  height: 100px;
  border: 1px solid #000;
  border-color: white transparent transparent transparent;
  border-radius: 50px / 88px 88px 0 0;
  }
  .line3{
    position: relative;
    margin-left:-300px ;
    width: 500px;
    height: 100px;
    border: 1px solid #000;
    border-color: white transparent transparent transparent;
    border-radius: 50px / 88px 88px 0 0;
  }
  .line4{
    right: -80px;
    position: absolute;
    width: 200px;
    height: 100px;
    border: 1px solid #000;
    border-color: white transparent transparent transparent;
    border-radius: 50px / 88px 88px 0 0;
  }
  .line5{
    right: 5px;
    position: absolute;
    width: 200px;
    height: 100px;
    border: 1px solid #000;
    border-color: white transparent transparent transparent;
    border-radius: 50px / 88px 88px 0 0;
  }
  .line6{
    right: 380px;
    position: absolute;
    width: 200px;
    height: 100px;
    border: 1px solid #000;
    border-color: white transparent transparent transparent;
    border-radius: 50px / 88px 88px 0 0;
  }
  .line7{
    left: 420px;
    position: absolute;
    width: 200px;
    height: 100px;
    border: 1px solid #000;
    border-color: white transparent transparent transparent;
    border-radius: 50px / 88px 88px 0 0;
  }
  .circle1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 635px;
    box-shadow: 5px 5px;
    
  }
  .circle1:hover{
    color: white;
    border: 1px solid #262626;
    background: #f44336;
    transition: 1s;
    box-shadow: 0px 0px
  }
  .circle2{
    line-height: 100px;
    text-align: center;
    position: absolute;
    right:-45px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 650px;
    box-shadow: 5px 5px;
  }
  .circle2:hover{
    color: white;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    box-shadow: 0px 0px
  }
  .circle3{
    line-height: 100px;
    text-align: center;
    position: absolute;
    right:450px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 650px;
    box-shadow: 5px 5px;
  }
  .circle3:hover{
    color: white;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    box-shadow: 0px 0px
  }
  .circle4{
    line-height: 100px;
    text-align: center;
    right: 440px;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 650px;
    box-shadow: 5px 5px;
  }
  .circle4:hover{
    color: white;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    box-shadow: 0px 0px
  }
  .circle5{
    right: -50px;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 650px;
    box-shadow: 5px 5px;
  }
  .circle5:hover{
    color: white;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    box-shadow: 0px 0px
  }
  .circle6{
    left: 460px;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 650px;
    box-shadow: 5px 5px;
  }
  .circle6:hover{
    color: white;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    box-shadow: 0px 0px
  }
  .circle7{
    right: -240px;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 650px;
    box-shadow: 5px 5px;
  }
  .circle7:hover{
    color: white;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    box-shadow: 0px 0px
  }
  .circle8{
    right: 135px;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 650px;
    box-shadow: 5px 5px;
  }
  .circle8:hover{
    color: white;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    box-shadow: 0px 0px
  }
  .circle9{
    right: -50px;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 650px;
    box-shadow: 5px 5px;
  }
  .circle9:hover{
    color: white;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    box-shadow: 0px 0px
  }
  .circle10{
    line-height: 100px;
    text-align: center;
    right: 150px;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 650px;
    box-shadow: 5px 5px;
  }
  .circle10:hover{
    color: white;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    box-shadow: 0px 0px
  }
  .circle11{
    line-height: 100px;
    text-align: center;
    right: -40px;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 650px;
    box-shadow: 5px 5px;
  }
  .circle11:hover{
    color: white;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    box-shadow: 0px 0px
  }
  .circle12{
    line-height: 100px;
    text-align: center;
    right: 130px;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 650px;
    box-shadow: 5px 5px;
  }
  .circle12:hover{
    color: white;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    box-shadow: 0px 0px
  }
  .circle13{
    line-height: 100px;
    text-align: center;
    right: -30px;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 650px;
    box-shadow: 5px 5px;
  }
  .circle13:hover{
    color: white;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    box-shadow: 0px 0px
  }
  .circle14{
    line-height: 100px;
    text-align: center;
    right: 150px;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 650px;
    box-shadow: 5px 5px;
  }
  .circle14:hover{
    color: white;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    box-shadow: 0px 0px
  }
  .circle15{
    line-height: 100px;
    text-align: center;
    right: -50px;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 650px;
    box-shadow: 5px 5px;
  }
  .circle15:hover{
    color: white;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    box-shadow: 0px 0px
  }
  
  

  
